body { background-color: #FFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333;}
textarea.css_input { width: 600px;
  height: 200px;}

.tess-icon { background: url(sprites/sprite_icons_cso_16x16.svg) no-repeat top left;
  width: 16px; height: 16px;  
  display: inline-block;}

.tess-icon32 { background: url(sprites/sprite_icons_cso_32x32.svg) no-repeat top left;
  width: 32px; height: 32px;  
  display: inline-block;}
  

table { border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  width: 100%;}
table th { background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;}
table th:first-child { width: 150px;}
table td { border: 1px solid #ddd;
  padding: 10px;}
.header_icons, .action_icons { margin: 20px 10px;
  padding: 1px 0;}
h2 { background-color: #ffe7e7;
  border: 1px solid #ddd;
  margin: 0;
  padding: 16px 10px;
  font-weight: normal;}

  /* CSO icons*/
  .tess-icon-trade {background-position:  0px 0px;}
  .tess-icon-coupa {background-position:  0px -20px;}
  .tess-icon-guide {background-position:  0px -40px;}
  .tess-icon-article {background-position:  0px -60px;}
  .tess-icon-document {background-position:  0px -80px;}
  .tess-icon-sheet {background-position:  0px -100px;}
  .tess-icon-report {background-position:  0px -120px;}
  .tess-icon-templateproject {background-position:  0px -140px;}
  .tess-icon-templatemail {background-position:  0px -160px;}
  .tess-icon-excel {background-position:  0px -180px;}
  .tess-icon-list {background-position:  0px -200px;}
  .tess-icon-form {background-position:  0px -220px;}
  .tess-icon-formsmall {background-position:  0px -240px;}
  .tess-icon-questionnaire {background-position:  0px -260px;}
  .tess-icon-warning {background-position:  0px -280px;}
  .tess-icon-disabled {background-position:  0px -300px;}
  .tess-icon-comment {background-position:  0px -320px;}
  .tess-icon-chat {background-position:  0px -340px;}
  .tess-icon-user {background-position:  0px -360px;}
  .tess-icon-group {background-position:  0px -380px;}
  .tess-icon-listsmall {background-position:  0px -400px;}
  .tess-icon-listbig {background-position:  0px -420px;}
  .tess-icon-grid {background-position:  0px -440px;}
  .tess-icon-visible {background-position:  -0px -460px;}
  .tess-icon-hidden {background-position:  -0px -480px;}
  .tess-icon-menusall {background-position:  0px -500px;}
  .tess-icon-menussome{background-position:  0px -520px;}
  .tess-icon-menusnone {background-position:  0px -540px;}
  .tess-icon-menudots {background-position:  0px -560px;}
  .tess-icon-areaexpand {background-position:  0px -580px;}
  .tess-icon-areaminimize {background-position:  0px -600px;}
  .tess-icon-popup {background-position:  0px -620px;}
  .tess-icon-breadcrumbarrow {background-position:  0px -640px;}
  .tess-icon-columnnavleft {background-position:  0px -660px;}
  .tess-icon-columnnavright {background-position:  0px -680px;}
  .tess-icon-home {background-position:  0px -700px;}
  .tess-icon-sealed_task {background-position:  0px -720px;}
  .tess-icon-unsealing {background-position:  0px -740px;}
  .tess-icon-unsealed_task {background-position:  0px -760px;}
  .tess-icon-promotion {background-position:  0px -780px;}
  .tess-icon-unsealer {background-position:  0px -800px;}
  .tess-icon-double_sealed {background-position:  0px -820px; width: 20px; height: 20px;  }
  .tess-icon-double_sealed_single {background-position:  0px -840px; width: 20px; height: 20px;  }
  .tess-icon-double_unsealed {background-position:  0px -860px; width: 20px; height: 20px; }
  .tess-icon-double_double_sealed_unsealing {background-position:  0px -880px; width: 20px; height: 20px; }
 
  .tess-icon-bold {background-position:  -20px 0px;}
  .tess-icon-italic {background-position:  -20px -20px;}
  .tess-icon-textsize {background-position:  -20px -40px;}
  .tess-icon-listbullets {background-position:  -20px -60px;}
  .tess-icon-listnumbers {background-position:  -20px -80px;}
  .tess-icon-quote {background-position:  -20px -100px;}
  .tess-icon-link {background-position:  -20px -120px;}
  .tess-icon-mention {background-position:  -20px -140px;}
  .tess-icon-text {background-position:  -20px -160px;}
  .tess-icon-multiplechoice{background-position:  -20px -180px;}
  .tess-icon-number {background-position:  -20px -200px;}
  .tess-icon-textsort{background-position:  -20px -220px;}
  .tess-icon-calendar{background-position:  -20px -240px;}
  .tess-icon-percent {background-position:  -20px -260px;}
  .tess-icon-fx {background-position:  -20px -280px;}
  .tess-icon-fxnumber {background-position:  -20px -300px;}
  .tess-icon-fxtext {background-position:  -20px -320px;}
  .tess-icon-checkbox{background-position:  -20px -340px;}
  .tess-icon-union {background-position:  -20px -360px;}
  .tess-icon-subtract {background-position:  -20px -380px;}
  .tess-icon-intersect {background-position:  -20px -400px;}
  .tess-icon-difference {background-position:  -20px -420px;}
  .tess-icon-noboolean {background-position:  -20px -440px;}
  .tess-icon-checklarge {background-position:  -20px -460px;}
  .tess-icon-xlarge {background-position:  -20px -480px;}
  .tess-icon-addlarge {background-position:  -20px -500px;}
  .tess-icon-dashlarge {background-position:  -20px -520px;}
 
  .tess-icon-check {background-position:  -40px 0px;}
  .tess-icon-dash {background-position:  -40px -20px;}
  .tess-icon-dot {background-position:  -40px -40px;}
  .tess-icon-x {background-position:  -40px -60px;}
  .tess-icon-add {background-position:  -40px -80px;}
  .tess-icon-square {background-position:  -40px -100px;}
  .tess-icon-squareoutline {background-position:  -40px -120px;}
  .tess-icon-circle {background-position:  -40px -140px;}
  .tess-icon-circleoutline {background-position:  -40px -160px;}
  .tess-icon-checksquare {background-position:  -40px -180px;}
  .tess-icon-dashsquare {background-position:  -40px -200px;}
  .tess-icon-dotsquare {background-position:  -40px -220px;}
  .tess-icon-xsquare {background-position:  -40px -240px;}
  .tess-icon-checksquareoutline {background-position:  -40px -260px;}
  .tess-icon-dashsquareoutline {background-position:  -40px -280px;}
  .tess-icon-dotsquareoutline {background-position:  -40px -300px;}
  .tess-icon-xsquareoutline {background-position:  -40px -320px;}
  .tess-icon-checkround {background-position:  -40px -340px;}
  .tess-icon-dashround {background-position:  -40px -360px;}
  .tess-icon-dotround {background-position:  -40px -380px;}
  .tess-icon-xround {background-position:  -40px -400px;}
  .tess-icon-checkroundoutline {background-position:  -40px -420px;}
  .tess-icon-dashroundoutline {background-position:  -40px -440px;}
  .tess-icon-dotroundoutline {background-position:  -40px -460px;}
  .tess-icon-xroundoutline {background-position:  -40px -480px;}
  .tess-icon-excel_download {background-position:  -40px -500px;}
 
  .tess-icon-arrowup {background-position:  -60px 0px;}
  .tess-icon-arrowdown {background-position:  -60px -20px;}
  .tess-icon-arrowleft {background-position:  -60px -40px;}
  .tess-icon-arrowright {background-position:  -60px -60px;}
  .tess-icon-arrowupdown {background-position:  -60px -80px;}
  .tess-icon-arrrowleftright {background-position:  -60px -100px;}
  .tess-icon-arrowall{background-position:  -60px -120px;}
  .tess-icon-triangleup {background-position:  -60px -140px;}
  .tess-icon-triangledown {background-position:  -60px -160px;}
  .tess-icon-triangleleft {background-position:  -60px -180px;}
  .tess-icon-triangleright {background-position:  -60px -200px;}
  .tess-icon-minup {background-position:  -60px -220px;}
  .tess-icon-mindown {background-position:  -60px -240px;}
  .tess-icon-minleft {background-position:  -60px -260px;}
  .tess-icon-minright {background-position:  -60px -280px;}
  .tess-icon-maxup {background-position:  -60px -300px;}
  .tess-icon-maxdown {background-position:  -60px -320px;}
  .tess-icon-maxleft {background-position:  -60px -340px;}
  .tess-icon-maxright {background-position:  -60px -360px;}
  .tess-icon-chevronup {background-position:  -60px -380px;}
  .tess-icon-chevrondown {background-position:  -60px -400px;}
 .tess-icon-piechart {background-position:  -60px -420px;}
  .tess-icon-barchart {background-position:  -60px -440px;}
  .tess-icon-linechart {background-position:  -60px -460px;}
  .tess-icon-keyup {background-position:  -60px -480px;}
  .tess-icon-keydown {background-position:  -60px -500px;}
  .tess-icon-keyleft {background-position:  -60px -520px;}
  .tess-icon-keyright {background-position:  -60px -540px;}
  .tess-icon-keyreturn {background-position:  -60px -560px;}
 
  .tess-icon-bell {background-position:  -80px 0px;}
  .tess-icon-search {background-position:  -80px -20px;}
  .tess-icon-info {background-position:  -80px -40px;}
  .tess-icon-folder {background-position:  -80px -60px;}
  .tess-icon-folderopen {background-position:  -80px -80px;}
  .tess-icon-filter {background-position:  -80px -100px;}
  .tess-icon-mail {background-position:  -80px -120px;}
  .tess-icon-bidder {background-position:  -80px -140px;}
  .tess-icon-project {background-position:  -80px -160px;}
  .tess-icon-compass {background-position:  -80px -180px;}
  .tess-icon-flask {background-position:  -80px -200px;}
  .tess-icon-history {background-position:  -80px -220px;}
  .tess-icon-edit {background-position:  -80px -240px;}
  .tess-icon-settings {background-position:  -80px -260px;}
  .tess-icon-tabmenu {background-position:  -80px -280px;}
  .tess-icon-currency {background-position:  -80px -300px;}
  .tess-icon-location {background-position:  -80px -320px;}
  .tess-icon-transfer {background-position:  -80px -340px;}
  .tess-icon-scenario {background-position:  -80px -360px;}
  .tess-icon-constraint {background-position:  -80px -380px;}
  .tess-icon-truck {background-position:  -80px -400px;}
  .tess-icon-block {background-position:  -80px -420px;}
  .tess-icon-plan {background-position:  -80px -440px;}
  .tess-icon-help {background-position:  -80px -460px;}
  .tess-icon-world {background-position:  -80px -480px;}
  .tess-icon-data {background-position:  -80px -500px;}
  .tess-icon-chip {background-position:  -80px -520px;}
  .tess-icon-package {background-position:  -80px -540px;}
  .tess-icon-fruite {background-position:  -80px -560px;}
  .tess-icon-plane {background-position:  -80px -580px;}
  .tess-icon-bar {background-position:  -80px -600px;}
  .tess-icon-drop {background-position:  -80px -620px;}
  .tess-icon-locked {background-position:  -80px -640px;}
  .tess-icon-unlocked {background-position:  -80px -660px;}
  .tess-icon-upload {background-position:  -80px -680px;}
  .tess-icon-download {background-position:  -80px -700px;}
  .tess-icon-utensils {background-position:  -80px -720px;}
  .tess-icon-trumpet {background-position:  -80px -740px;}
  .tess-icon-clip {background-position:  -80px -760px;}
  .tess-icon-projectsmall{background-position:  -80px -780px;}
  .tess-icon-biddersmall {background-position:  -80px -800px;}
  .tess-icon-target{background-position:  -80px -820px;}
  .tess-icon-targetsmall{background-position:  -80px -840px;}
  .tess-icon-palette{background-position:  -80px -860px;}
  .tess-icon-snooze{background-position:  -80px -880px;}
  .tess-icon-picture{background-position:  -80px -900px;}
  .tess-icon-projectsmall{background-position:  -80px -920px;}
  .tess-icon-filterSmall{background-position:  -80px -940px;}
  .tess-icon-bin{background-position:  -80px -960px;}
  .tess-icon-incumbent{background-position:  -80px -980px;}

  .tess-icon-fa-align-center{background-position: -100px -0px;}
  .tess-icon-fa-align-justify {background-position: -100px -20px;}
  .tess-icon-fa-align-left {background-position: -100px -40px;}
  .tess-icon-fa-align-right {background-position: -100px -60px;}
  .tess-icon-fa-angle-double-down {background-position: -100px -80px;}
  .tess-icon-fa-angle-double-left {background-position: -100px -100px;}
  .tess-icon-fa-angle-double-right {background-position: -100px -120px;}
  .tess-icon-fa-angle-double-up {background-position: -100px -140px;}
  .tess-icon-fa-angle-down {background-position: -100px -160px;}
  .tess-icon-fa-angle-left {background-position: -100px -180px;}
  .tess-icon-fa-angle-right {background-position: -100px -200px;}
  .tess-icon-fa-angle-up {background-position: -100px -220px;}
  .tess-icon-fa-archive {background-position: -100px -240px;}
  .tess-icon-fa-arrow-circle-down {background-position: -100px -260px;}
  .tess-icon-fa-arrow-circle-left {background-position: -100px -280px;}
  .tess-icon-fa-arrow-circle-right {background-position: -100px -300px;}
  .tess-icon-fa-arrow-circle-up {background-position: -100px -320px;}
  .tess-icon-fa-arrow-down {background-position: -100px -340px;}
  .tess-icon-fa-arrow-left {background-position: -100px -360px;}
  .tess-icon-fa-arrow-right {background-position: -100px -380px;}
  .tess-icon-fa-arrow-up {background-position: -100px -400px;}
  .tess-icon-fa-arrows-alt {background-position: -100px -420px;}
  .tess-icon-fa-arrows-alt-h {background-position: -100px -440px;}
  .tess-icon-fa-arrows-alt-v {background-position: -100px -460px;}
  .tess-icon-fa-asterisk {background-position: -100px -480px;}
  .tess-icon-fa-at {background-position: -100px -500px;}
  .tess-icon-fa-backward {background-position: -100px -520px;}
  .tess-icon-fa-ban {background-position: -100px -540px;}
  .tess-icon-fa-barcode {background-position: -100px -560px;}
  .tess-icon-fa-bars {background-position: -100px -580px;}
  .tess-icon-fa-bell {background-position: -100px -600px;}
  .tess-icon-fa-bolt {background-position: -100px -620px;}
  .tess-icon-fa-book {background-position: -100px -640px;}
  .tess-icon-fa-bookmark {background-position: -100px -660px;}
  .tess-icon-fa-building {background-position: -100px -680px;}
  .tess-icon-fa-bullseye {background-position: -100px -700px;}
  .tess-icon-fa-bus {background-position: -100px -720px;}
  .tess-icon-fa-calculator {background-position: -100px -740px;}
  .tess-icon-fa-calendar-alt {background-position: -100px -760px;}
  .tess-icon-fa-camera {background-position: -100px -780px;}
  .tess-icon-fa-caret-down {background-position: -100px -800px;}
  .tess-icon-fa-caret-left {background-position: -100px -820px;}
  .tess-icon-fa-caret-right {background-position: -100px -840px;}
  .tess-icon-fa-caret-square-down {background-position: -100px -860px;}
  .tess-icon-fa-caret-square-left {background-position: -100px -880px;}
  .tess-icon-fa-caret-square-right {background-position: -100px -900px;}
  .tess-icon-fa-caret-square-up {background-position: -100px -920px;}
  .tess-icon-fa-caret-up {background-position: -100px -940px;}
  .tess-icon-fa-cart-arrow-down {background-position: -100px -960px;}
  .tess-icon-fa-cart-plus {background-position: -100px -980px;}
  .tess-icon-fa-certificate {background-position: -100px -1000px;}

  .tess-icon-fa-chain {background-position: -120px -0px;}
  .tess-icon-fa-chain-broken {background-position: -120px -20px;}
  .tess-icon-fa-chart-area {background-position: -120px -40px;}
  .tess-icon-fa-chart-bar {background-position: -120px -60px;}
  .tess-icon-fa-chart-line {background-position: -120px -80px;}
  .tess-icon-fa-chart-pie {background-position: -120px -260px;}
  .tess-icon-fa-check {background-position: -120px -280px;}
  .tess-icon-fa-check-circle {background-position: -120px -300px;}
  .tess-icon-fa-check-square {background-position: -120px -320px;}
  .tess-icon-fa-chevron-circle-down {background-position: -120px -340px;}
  .tess-icon-fa-chevron-circle-left {background-position: -120px -360px;}
  .tess-icon-fa-chevron-circle-right {background-position: -120px -380px;}
  .tess-icon-fa-chevron-circle-up {background-position: -120px -400px;}
  .tess-icon-fa-chevron-down {background-position: -120px -100px;}
  .tess-icon-fa-chevron-left {background-position: -120px -120px;}
  .tess-icon-fa-chevron-right {background-position: -120px -140px;}
  .tess-icon-fa-chevron-up {background-position: -120px -160px;}
  .tess-icon-fa-child {background-position: -120px -180px;}
  .tess-icon-fa-circle {background-position: -120px -200px;}
  .tess-icon-fa-circle-notch {background-position: -120px -220px;}
  .tess-icon-fa-clipboard {background-position: -120px -240px;}
  .tess-icon-fa-clock {background-position: -120px -420px;}
  .tess-icon-fa-clone {background-position: -120px -440px;}
  .tess-icon-fa-closed-captioning {background-position: -120px -460px;}
  .tess-icon-fa-cloud {background-position: -120px -480px;}
  .tess-icon-fa-cloud-download-alt {background-position: -120px -500px;}
  .tess-icon-fa-cloud-upload-alt {background-position: -120px -520px;}
  .tess-icon-fa-code {background-position: -120px -540px;}
  .tess-icon-fa-code-branch {background-position: -120px -560px;}
  .tess-icon-fa-cog {background-position: -120px -580px;}
  .tess-icon-fa-cogs {background-position: -120px -600px;}
  .tess-icon-fa-columns {background-position: -120px -620px;}
  .tess-icon-fa-comment {background-position: -120px -640px;}
  .tess-icon-fa-comment-alt {background-position: -120px -660px;}
  .tess-icon-fa-comments {background-position: -120px -680px;}
  .tess-icon-fa-comments-o {background-position: -120px -700px;}
  .tess-icon-fa-copy {background-position: -120px -720px;}
  .tess-icon-fa-copyright {background-position: -120px -740px;}
  .tess-icon-fa-credit-card {background-position: -120px -760px;}
  .tess-icon-fa-crop {background-position: -120px -780px;}
  .tess-icon-fa-edit {background-position: -120px -800px;}
  .tess-icon-fa-eject {background-position: -120px -820px;}
  .tess-icon-fa-ellipsis-h {background-position: -120px -840px;}
  .tess-icon-fa-ellipsis-v {background-position: -120px -860px;}
  .tess-icon-fa-envelope {background-position: -120px -880px;}
  .tess-icon-fa-envelope-open {background-position: -120px -900px;}
  .tess-icon-fa-eraser {background-position: -120px -920px;}
  .tess-icon-fa-euro-sign {background-position: -120px -940px;}
  .tess-icon-fa-exchange-alt {background-position: -120px -960px;}
  .tess-icon-fa-exclamation {background-position: -120px -980px;}
  .tess-icon-fa-exclamation-circle {background-position: -120px -1000px;}

  .tess-icon-fa-exclamation-triangle {background-position: -140px -0px;}
  .tess-icon-fa-external-link-alt {background-position: -140px -20px;}
  .tess-icon-fa-external-link-square-alt {background-position: -140px -40px;}
  .tess-icon-fa-eye {background-position: -140px -60px;}
  .tess-icon-fa-eye-dropper {background-position: -140px -80px;}
  .tess-icon-fa-eye-slash {background-position: -140px -100px;}
  .tess-icon-fa-fast-backward {background-position: -140px -120px;}
  .tess-icon-fa-fast-forward {background-position: -140px -140px;}
  .tess-icon-fa-fax {background-position: -140px -160px;}
  .tess-icon-fa-female {background-position: -140px -180px;}
  .tess-icon-fa-file {background-position: -140px -200px;}
  .tess-icon-fa-file-alt {background-position: -140px -220px;}
  .tess-icon-fa-file-archive {background-position: -140px -240px;}
  .tess-icon-fa-file-audio {background-position: -140px -260px;}
  .tess-icon-fa-file-code {background-position: -140px -280px;}
  .tess-icon-fa-file-excel {background-position: -140px -300px;}
  .tess-icon-fa-file-image {background-position: -140px -320px;}
  .tess-icon-fa-file-pdf {background-position: -140px -340px;}
  .tess-icon-fa-file-powerpoint {background-position: -140px -360px;}
  .tess-icon-fa-file-video {background-position: -140px -380px;}
  .tess-icon-fa-file-word {background-position: -140px -400px;}
  .tess-icon-fa-filter {background-position: -140px -420px;}
  .tess-icon-fa-flag {background-position: -140px -440px;}
  .tess-icon-fa-folder {background-position: -140px -460px;}
  .tess-icon-fa-folder-open {background-position: -140px -480px;}
  .tess-icon-fa-forward {background-position: -140px -500px;}
  .tess-icon-fa-gavel {background-position: -140px -520px;}
  .tess-icon-fa-globe {background-position: -140px -540px;}
  .tess-icon-fa-globe-africa {background-position: -140px -560px;}
  .tess-icon-fa-graduation-cap {background-position: -140px -580px;}
  .tess-icon-fa-handshake {background-position: -140px -600px;}
  .tess-icon-fa-home {background-position: -140px -620px;}
  .tess-icon-fa-id-badge {background-position: -140px -640px;}
  .tess-icon-fa-id-card {background-position: -140px -660px;}
  .tess-icon-fa-image {background-position: -140px -680px;}
  .tess-icon-fa-images {background-position: -140px -700px;}
  .tess-icon-fa-inbox {background-position: -140px -720px;}
  .tess-icon-fa-indent {background-position: -140px -740px;}
  .tess-icon-fa-industry {background-position: -140px -760px;}
  .tess-icon-fa-info {background-position: -140px -780px;}
  .tess-icon-fa-info-circle {background-position: -140px -800px;}
  .tess-icon-fa-key {background-position: -140px -820px;}
  .tess-icon-fa-keyboard {background-position: -140px -840px;}
  .tess-icon-fa-language {background-position: -140px -860px;}
  .tess-icon-fa-lightbulb {background-position: -140px -880px;}
  .tess-icon-fa-link {background-position: -140px -900px;}
  .tess-icon-fa-list {background-position: -140px -920px;}
  .tess-icon-fa-list-alt {background-position: -140px -940px;}
  .tess-icon-fa-list-ol {background-position: -140px -960px;}
  .tess-icon-fa-list-ul {background-position: -140px -980px;}
  .tess-icon-fa-location-arrow {background-position: -140px -1000px;}

  .tess-icon-fa-lock {background-position: -160px -0px;}
  .tess-icon-fa-lock-open {background-position: -160px -20px;}
  .tess-icon-fa-long-arrow-alt-down {background-position: -160px -40px;}
  .tess-icon-fa-long-arrow-alt-left {background-position: -160px -60px;}
  .tess-icon-fa-long-arrow-alt-right {background-position: -160px -80px;}
  .tess-icon-fa-long-arrow-alt-up {background-position: -160px -100px;}
  .tess-icon-fa-magic {background-position: -160px -120px;}
  .tess-icon-fa-male {background-position: -160px -140px;}
  .tess-icon-fa-map {background-position: -160px -160px;}
  .tess-icon-fa-map-marker {background-position: -160px -180px;}
  .tess-icon-fa-map-marker-alt {background-position: -160px -200px;}
  .tess-icon-fa-microphone {background-position: -160px -220px;}
  .tess-icon-fa-microphone-slash {background-position: -160px -240px;}
  .tess-icon-fa-minus {background-position: -160px -260px;}
  .tess-icon-fa-minus-circle {background-position: -160px -280px;}
  .tess-icon-fa-minus-square {background-position: -160px -300px;}
  .tess-icon-fa-mobile-alt {background-position: -160px -320px;}
  .tess-icon-fa-mouse-pointer {background-position: -160px -340px;}
  .tess-icon-fa-music {background-position: -160px -360px;}
  .tess-icon-fa-outdent {background-position: -160px -380px;}
  .tess-icon-fa-paper-plane {background-position: -160px -400px;}
  .tess-icon-fa-paperclip {background-position: -160px -420px;}
  .tess-icon-fa-paragraph {background-position: -160px -440px;}
  .tess-icon-fa-paste {background-position: -160px -460px;}
  .tess-icon-fa-pause-circle {background-position: -160px -480px;}
  .tess-icon-fa-pen-square {background-position: -160px -500px;}
  .tess-icon-fa-pencil-alt {background-position: -160px -520px;}
  .tess-icon-fa-percent {background-position: -160px -540px;}
  .tess-icon-fa-phone {background-position: -160px -560px;}
  .tess-icon-fa-phone-volume {background-position: -160px -580px;}
  .tess-icon-fa-play {background-position: -160px -600px;}
  .tess-icon-fa-play-circle {background-position: -160px -620px;}
  .tess-icon-fa-plus {background-position: -160px -640px;}
  .tess-icon-fa-plus-circle {background-position: -160px -660px;}
  .tess-icon-fa-plus-square {background-position: -160px -680px;}
  .tess-icon-fa-podcast {background-position: -160px -700px;}
  .tess-icon-fa-power-off {background-position: -160px -720px;}
  .tess-icon-fa-question {background-position: -160px -740px;}
  .tess-icon-fa-question-circle {background-position: -160px -760px;}
  .tess-icon-fa-quote-left {background-position: -160px -780px;}
  .tess-icon-fa-quote-right {background-position: -160px -800px;}
  .tess-icon-fa-random {background-position: -160px -820px;}
  .tess-icon-fa-recycle {background-position: -160px -840px;}
  .tess-icon-fa-redo-alt {background-position: -160px -860px;}
  .tess-icon-fa-reply {background-position: -160px -880px;}
  .tess-icon-fa-reply-all {background-position: -160px -900px;}
  .tess-icon-fa-save {background-position: -160px -920px;}
  .tess-icon-fa-search {background-position: -160px -940px;}
  .tess-icon-fa-search-minus {background-position: -160px -960px;}
  .tess-icon-fa-search-plus {background-position: -160px -980px;}
  .tess-icon-fa-server {background-position: -160px -1000px;}

  .tess-icon-fa-share {background-position: -180px -0px;}
  .tess-icon-fa-share-alt-square {background-position: -180px -20px;}
  .tess-icon-fa-share-square {background-position: -180px -40px;}
  .tess-icon-fa-shield-alt {background-position: -180px -60px;}
  .tess-icon-fa-shopping-bag {background-position: -180px -80px;}
  .tess-icon-fa-shopping-basket {background-position: -180px -100px;}
  .tess-icon-fa-shopping-cart {background-position: -180px -120px;}
  .tess-icon-fa-sign-in-alt {background-position: -180px -140px;}
  .tess-icon-fa-sign-out-alt {background-position: -180px -160px;}
  .tess-icon-fa-signal {background-position: -180px -180px;}
  .tess-icon-fa-sitemap {background-position: -180px -200px;}
  .tess-icon-fa-sliders-h {background-position: -180px -220px;}
  .tess-icon-fa-sort {background-position: -180px -240px;}
  .tess-icon-fa-sort-alpha-down {background-position: -180px -260px;}
  .tess-icon-fa-sort-alpha-up {background-position: -180px -280px;}
  .tess-icon-fa-sort-amount-down {background-position: -180px -300px;}
  .tess-icon-fa-sort-amount-up {background-position: -180px -320px;}
  .tess-icon-fa-sort-down {background-position: -180px -340px;}
  .tess-icon-fa-sort-up {background-position: -180px -360px;}
  .tess-icon-fa-spinner {background-position: -180px -380px;}
  .tess-icon-fa-square {background-position: -180px -400px;}
  .tess-icon-fa-star {background-position: -180px -420px;}
  .tess-icon-fa-star-half {background-position: -180px -440px;}
  .tess-icon-fa-step-backward {background-position: -180px -460px;}
  .tess-icon-fa-step-forward {background-position: -180px -480px;}
  .tess-icon-fa-sticky-note {background-position: -180px -500px;}
  .tess-icon-fa-stop {background-position: -180px -520px;}
  .tess-icon-fa-stop-circle {background-position: -180px -540px;}
  .tess-icon-fa-suitcase {background-position: -180px -560px;}
  .tess-icon-fa-sun {background-position: -180px -580px;}
  .tess-icon-fa-sync-alt {background-position: -180px -600px;}
  .tess-icon-fa-table {background-position: -180px -620px;}
  .tess-icon-fa-tablet-alt {background-position: -180px -640px;}
  .tess-icon-fa-tag {background-position: -180px -660px;}
  .tess-icon-fa-tags {background-position: -180px -680px;}
  .tess-icon-fa-tasks {background-position: -180px -700px;}
  .tess-icon-fa-th {background-position: -180px -720px;}
  .tess-icon-fa-th-large {background-position: -180px -740px;}
  .tess-icon-fa-th-list {background-position: -180px -760px;}
  .tess-icon-fa-times {background-position: -180px -780px;}
  .tess-icon-fa-times-circle {background-position: -180px -800px;}
  .tess-icon-fa-toggle-off {background-position: -180px -820px;}
  .tess-icon-fa-toggle-on {background-position: -180px -840px;}
  .tess-icon-fa-trash {background-position: -180px -860px;}
  .tess-icon-fa-trash-alt {background-position: -180px -880px;}
  .tess-icon-fa-tree {background-position: -180px -900px;}
  .tess-icon-fa-trophy {background-position: -180px -920px;}
  .tess-icon-fa-tv {background-position: -180px -940px;}
  .tess-icon-fa-umbrella {background-position: -180px -960px;}
  .tess-icon-fa-underline {background-position: -180px -980px;}
  .tess-icon-fa-undo-alt {background-position: -180px -1000px;}

  .tess-icon-fa-universal-access {background-position: -200px -0px;}
  .tess-icon-fa-unlink {background-position: -200px -20px;}
  .tess-icon-fa-unlock {background-position: -200px -40px;}
  .tess-icon-fa-unlock-alt {background-position: -200px -60px;}
  .tess-icon-fa-upload {background-position: -200px -80px;}
  .tess-icon-fa-user {background-position: -200px -100px;}
  .tess-icon-fa-user-circle {background-position: -200px -120px;}
  .tess-icon-fa-user-plus {background-position: -200px -140px;}
  .tess-icon-fa-user-times {background-position: -200px -160px;}
  .tess-icon-fa-users {background-position: -200px -180px;}
  .tess-icon-fa-video {background-position: -200px -200px;}
  .tess-icon-fa-volume-down {background-position: -200px -220px;}
  .tess-icon-fa-volume-off {background-position: -200px -240px;}
  .tess-icon-fa-volume-up {background-position: -200px -260px;}
  .tess-icon-fa-wheelchair {background-position: -200px -280px;}
  .tess-icon-fa-wifi {background-position: -200px -300px;}
  .tess-icon-fa-window-close {background-position: -200px -320px;}
  .tess-icon-fa-window-maximize {background-position: -200px -340px;}
  .tess-icon-fa-window-minimize {background-position: -200px -360px;}
  .tess-icon-fa-window-restore {background-position: -200px -380px;}
  .tess-icon-fa-wrench {background-position: -200px -400px;}

  .tess-icon-fa-envelope-o {background-position: -220px -0px;}
  .tess-icon-fa-file-code-o {background-position: -220px -140px;}
  .tess-icon-fa-file-excel-o {background-position: -220px -20px;}
  .tess-icon-fa-file-image-o {background-position: -220px -40px;}
  .tess-icon-fa-file-o {background-position: -220px -100px;}
  .tess-icon-fa-file-pdf-o {background-position: -220px -60px;}
  .tess-icon-fa-file-square-o {background-position: -220px -80px;}
  .tess-icon-fa-file-text-o {background-position: -220px -160px;}
  .tess-icon-fa-file-word-o {background-position: -220px -180px;}
  .tess-icon-fa-file-zip-o {background-position: -220px -220px;}
  .tess-icon-fa-minus-square-o {background-position: -220px -120px;}
  .tess-icon-fa-photo-o {background-position: -220px -200px;}
  .tess-icon-fa-question-circle-o {background-position: -220px -240px;}

  .tess-icon-fa-triangle {background-position: -240px 0px;}
  .tess-icon-fa-i-triangle {background-position: -240px -20px;}
  .tess-icon-fa-exclamation-triangle-orange {background-position: -240px -40px;}
  .tess-icon-fa-exclamation-triangle-red {background-position: -240px -60px;}
  .tess-icon-fa-exclamation-triangle-yellow_white {background-position: -240px -80px;}
  .tess-icon-fa-exclamation-triangle-yellow_gray {background-position: -240px -100px;}
  .tess-icon-fa-exclamation-triangle-yellow_black {background-position: -240px -120px;}
 
  .tess-icon-fa-link-gray {background-position: -260px 0px;}
  .tess-icon-fa-unlink-gray {background-position: -260px -20px;}
  .tess-icon-fa-link-light_gray {background-position: -260px -40px;}
  .tess-icon-fa-unlink-light_gray {background-position: -260px -60px;}
 
  .tess-icon32-project{background-position:  0px 0px;}
  .tess-icon32-project-sealed {background-position:  0px -40px;}
  .tess-icon32-project-double-sealed{background-position:  0px -80px;}
  .tess-icon32-project-test {background-position:  0px -120px;}
  .tess-icon32-project-sealed-test {background-position:  0px -160px;}
  .tess-icon32-project-double-sealed-test{background-position:  0px -200px;}
  .tess-icon32-project-template{background-position:  0px -240px;}
  .tess-icon32-project-template-sealed {background-position:  0px -280px;}
  .tess-icon32-project-template-double-sealed {background-position:  0px -320px;}
  .tess-icon32-project-predefined{background-position:  0px -360px;}
  .tess-icon32-project-predefined-sealed {background-position:  0px -400px;}
  .tess-icon32-project-predefined-double-sealed {background-position:  0px -440px;}
  .tess-icon32-dataExchange-supplyChain {background-position: 0 -480px; }
  .tess-icon32-sealed_event {background-position:  -40px 0px;}
  .tess-icon32-double_sealed_event {background-position:  -40px -40px;}
  .tess-icon32-fa-exclamation-triangle-black {background-position: -40px -80px;}
  .tess-icon32-fa-exclamation-triangle-gray {background-position: -40px -120px;}
  .tess-icon32-fa-exclamation-triangle-red {background-position: -40px -160px;}
  .tess-icon32-fa-exclamation-triangle-orange {background-position: -40px -200px;}
  .tess-icon32-fa-exclamation-triangle-yellow_white {background-position: -40px -240px;}
  .tess-icon32-fa-exclamation-triangle-yellow_gray {background-position: -40px -280px;}
  .tess-icon32-fa-exclamation-triangle-yellow_black {background-position: -40px -320px;}
  .tess-icon32-fa-question-triangle-gray {background-position: -40px -360px;}
  .tess-icon32-fa-question-circle-gray {background-position: -40px -400px;} 
  .tess-icon32-fa-question-circle-light_gray {background-position: -40px -440px;} 
  .tess-icon32-questionnaire-excel {background-position: -80px 0px;} 

